<h1>entregas pendientes</h1>
<div class="col-sm-6" style="align-items: center;" *ngFor="let publi of users">
    <div class="row">
        <div class="card text-white bg-success mb-3" style="width: 1000px;">
            <div class="card-header" style="text-shadow: black;">ENTREGA NO.{{publi.idreparto}}</div>
            <div class="card-body">
                <h5 class="card-title">ENTREGA PARA {{publi.nickname}}</h5>
                <p class="card-text">{{publi.direccion}}</p>
                <div>
                    <a routerLink="edit/{{publi.idreparto}}" class="btn btn-sm btn-danger mb-3">ver mapa</a>
                    <button (click)="confirmar(publi.idreparto)" class="btn btn-sm btn-primary ">confirmar
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</div>